<div class="row collapse">
  <div class="large-9 small-12 columns content-title">
    <h1>Multi-signature Address</h1>
  </div>
  <ng-include src="'components/network.html'"/>

</div>
<div class="row collapse pb20">
  <div class="small-12 columns">
    <p>
      Derive a bitcoin address that requires several signatures to spend its funds.
    </p>
  </div>
</div>

<!-- Total Keys and Required Signatures -->
<div class="row collapse pt10 pb10">
  <div class="large-6 columns">
    <div class="row collapse">
      <div class="large-11 columns">
        <span class="key-title">Number of Keys:</span>
        <select ng-model="totalKeys" ng-options="num for num in totalKeysRange()" ng-change="setKeyAmount(totalKeys)"></select>
      </div> 
    </div> 
  </div>
  <div class="large-6 columns">
    <div class="row collapse">
      <div class="large-11 large-offset-1 columns">
        <span class="key-title">Required Signatures:</span>
        <select ng-model="threshold" ng-options="num for num in signaturesRange()" class="small radius"></select>
      </div> 
    </div> 
  </div> 
    </div> 
     
  </div>
</div>

<!-- Repeat Keys -->
<div class="row collapse" ng-animate=" 'animate' " ng-repeat="key in keys">
  <div class="large-12 columns">
  <div class="row bg-color-white collapse radius p20 mb5">
    <!-- Remove Key -->
    <div class="large-1 small-1 columns mt5 show-for-large-up">
      <a href="" ng-click="remove($index)"><i class="fi-x center-text pr10 link1 "></i></a><span class="icon-user fnt18 fntgrey1 center-text">
    </div>
    <div class="large-1 small-1 columns mt5 show-for-medium-down">
      <a href="" ng-click="remove($index)"><i class="fi-x center-text pr10 link1 "></i></a>
    </div>
    <!-- Private Key -->
    <div class="large-5 small-11 columns">
      <div class="row collapse">
        <div class="large-4 small-12 columns mt5">
          <h3 class="key-title"><span class="icon-private-key fntgrey1 fnt18 center-text"></span>Private Key</h3>
        </div>
        <div class="large-7 small-10 columns">
          <input ng-model="key.privKey" ng-change="updatePriv($index)" type="text" class="radius">
        </div>
        <div class="large-1 small-2 columns">
          <div class="row collapse">
            <div class="small-11 small-offset-1 columns">
              <button ng-click="randPriv($index)" class="postfix radius button1 fnt12"> <i class="fi-die-five"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Arrow -->
  <div class="large-1 small-1 columns text-center show-for-large-up">
    <span class="icon-arrow-right fnt24"></span>
  </div>

  <!-- Private Key -->
  <div class="large-5 small-11 columns">
    <div class="row collapse">
      <div class="large-4 small-12 columns mt5">
        <h3 class="key-title center-text"><span class="icon-public-key fntgrey1 fnt18 center-text"></span>Public Key</h3>
      </div>
      <div class="large-8 small-12 columns">
        <input ng-model="key.pubKey" ng-change="updatePub($index)" type="text" class="radius">
      </div>
    </div>
  </div>

</div>

</div>

</div>

<!--Flow down starts--> 
  <div class="row text-center">
    <div class="small-12 columns">
      <span class="icon-arrow-down fnt24 center-text"></span>
    </div>
  </div>
<!--Flow down ends--> 

<!-- Bitcoin Address -->
<div class="row bg-color-white collapse radius p20">
  <div class="large-3 small-12 columns">
    <div class=""><span class="icon-qr-solid fnt24 pr10 v-align"></span>{{threshold}}-of-{{totalKeys}} Bitcoin Address </div>
  </div>
  <div class="large-9 small-12 columns">
    <input value="{{address}}" type="text" placeholder="Bitcoin address" readonly="readonly"/>
  </div>
</div>


<ng-include src="'components/explanation.html'"></ng-include>

