<div class="row collapse">
  <div class="large-9 small-12 columns content-title">
    <h1>Address</h1>
  </div>
  <ng-include src="'components/network.html'"/>

</div>
<div class="row collapse pb20">
  <div class="small-12 columns">
    <p>Generate a bitcoin address from a private or public key.</p>
  </div>
</div>

<!--White box starts--> 
  <div class="row collapse bg-color-white white-box radius p20">
    <div class="small-12 large-2 columns input-title">
      <span class="prefix prefix-clean fnt1"><span class="icon-private-key fnt16 center-text"></span> PRIVATE KEY</span>
    </div>
    <div class="small-10 large-9 columns">
      <input type="text" placeholder="Hex format" ng-model="privateKey" ng-change="privateUpdated(privateKey)" private-key auto-select/>
    </div>
    <div class="small-2 large-1 columns">
      <div class="row collapse">
        <div class="small-11 small-offset-1 columns">
          <button type="button" ng-click="newKey()" class="postfix radius button1 fnt12"> <i class="fi-die-five fnt12"></i></button>
        </div>
      </div>
    </div>

  </div>
  <!--White box ends--> 

<!--Flow down starts--> 
  <div class="row text-center">
    <div class="small-12 columns">
      <span class="icon-arrow-down fnt24 center-text"></span>
    </div>
  </div>
  <!--Flow down ends--> 

<!--White box starts--> 
  <div class="row collapse bg-color-white white-box radius p20">
    <div class="small-12 large-2 columns input-title">
      <span class="prefix prefix-clean fnt1"><span class="icon-public-key fnt16 center-text"></span> PUBLIC KEY</span>
    </div>
    <div class="small-12 large-10 columns">
      <input id="publicKey" type="text" placeholder="Hex format" ng-model="publicKey" ng-change="publicUpdated(publicKey)" public-key auto-select/>
    </div>
  </div>
  <!--White box ends--> 

<!--Flow down starts--> 
  <div class="row text-center">
    <div class="small-12 columns">
      <span class="icon-arrow-down fnt24 center-text"></span>
    </div>
  </div>
  <!--Flow down ends--> 

  <!--White box starts--> 
 <div class="row collapse bg-color-white white-box radius p20">
    <div class="small-12 large-2 columns input-title">
      <span class="prefix prefix-clean fnt1"><span class="icon-qr-solid fnt16 center-text"></span> ADDRESS</span>
    </div>
    <div class="small-12 large-10 columns">
      <input id="address" type="text" placeholder="Bitcoin address" value="{{publicKey.toAddress().toString()}}" readonly auto-select/>
    </div>
  </div>
  <!--White box ends--> 

<ng-include src="'components/explanation.html'"></ng-include>
