<div class="explanation">
  <div class="row collapse">
    <div class="small-12 columns">
      <h3 class="console-title fnt1">Under the hood</h3>
    </div>
  </div>
  <div class="row collapse">
    <ng-include src="'components/code.html'"></ng-include>
  </div>
  <div class="row collapse">
    <h3 class="learn-more-title fnt1">Learn more</h3>
    <a href="{{bitcoreURL}}">
      <button type="button" class="button tiny radius button3 ubuntu-bold"><span class="icon-docs"></span> Bitcore Guide</button>
    </a>
    <a href="{{bitcoinURL}}">
      <button type="button" class="button tiny radius button3 ubuntu-bold"><span class="icon-btc-solid"></span> Official reference</button>
    </a>
  </div>
</div>
