<svg width="40" height="10" class="loader">
  <rect width="10" height="10" x="0" y="0" rx="3" ry="3">
    <animate attributeName="width" values="0;10;10;10;0" dur="1000ms" repeatCount="indefinite"/>
    <animate attributeName="height" values="0;10;10;10;0" dur="1000ms" repeatCount="indefinite"/>
    <animate attributeName="x" values="10;0;0;0;10" dur="1000ms" repeatCount="indefinite"/>
    <animate attributeName="y" values="10;0;0;0;10" dur="1000ms" repeatCount="indefinite"/>
  </rect>
  <rect width="10" height="10" x="15" y="0" rx="3" ry="3">
    <animate attributeName="width" values="0;10;10;10;0" begin="100ms" dur="1000ms" repeatCount="indefinite"/>
    <animate attributeName="height" values="0;10;10;10;0" begin="100ms" dur="1000ms" repeatCount="indefinite"/>
    <animate attributeName="x" values="25;15;15;15;25" begin="100ms" dur="1000ms" repeatCount="indefinite"/>
    <animate attributeName="y" values="10;0;0;0;10" begin="100ms" dur="1000ms" repeatCount="indefinite"/>
  </rect>
  <rect width="10" height="10" x="30" y="0" rx="3" ry="3">
    <animate attributeName="width" values="0;10;10;10;0" begin="400ms" dur="1000ms" repeatCount="indefinite"/>
    <animate attributeName="height" values="0;10;10;10;0" begin="400ms" dur="1000ms" repeatCount="indefinite"/>
    <animate attributeName="x" values="40;30;30;30;40" begin="400ms" dur="1000ms" repeatCount="indefinite"/>
    <animate attributeName="y" values="10;0;0;0;10" begin="400ms" dur="1000ms" repeatCount="indefinite"/>
  </rect>
</svg>