<div class="large-3 small-5 columns show-for-large-up">
  <div class="row right pt6">
    <div class="large-4 small-4 columns">
      <span class="fnt07">TESTNET</span>
    </div>
    <div class="large-4 small-4 columns">
      <div class="switch tiny round">
        <input id="testnet" type="checkbox" ng-model="$root.network" ng-change="setTestnet(network)">
        <label for="testnet"></label>
      </div> 
    </div>
    <div class="large-4 small-4 columns">
      <span class="fnt07">LIVENET</span>
    </div>
  </div>
</div>