

<div id="banner">

  <div class="background-element">

  </div>


  <div class="row padding-vertical">
    <div class="column">

      <h2 class="center white">Build your application on bitcore</h2>
      <h4 class="center white">An open-source platform to build bitcoin and blockchain-based applications</h4>
      <div class="center">
        <div class="button primary">Get Started</div>
        <div class="button secondary">Documentation</div>
      </div>
    </div>
  </div>
</div>

<div id="projects">
  <div class="outer">
     <a href="http://counterparty.io/" target="_blank"><li id="counterparty-link-complete" class="link"></li></a>
     <a href="https://bitpay.com/" target="_blank"><li id="bitpay-link" class="link"></li></a>
     <a href="https://copay.io" target="_blank"><li id="copay-link" class="link"></li></a>
     <a href="https://www.blocktrail.com/" target="_blank"><li id="blocktrail-link" class="link"></li></a>
     <a href="http://pheeva.com/" target="_blank"><li id="pheeva-link" class="link"></li></a>
     <a href="https://github.com/streamium/paystream" target="_blank"><li id="streamium-link" class="link"></li></a>
  </div>
</div>

<div class="section-gray">

  <div class="row">
    <h4 class="section-title">Getting Started</h4>
  </div>

  <div class="row">
    <div class="column medium-6">
      <h3>Spin up a full node</h3>
      <p>If you have an free afternoon and internet connection you can set up a full bitcoin node. In this tutorial we teach you how to launch a node with insight to have your own clue into the bitcoin network.</p>
      <div class="button-secondary">Get Started</div>
    </div>
    <div class="column medium-6">
    </div>
  </div>

  <div class="row">
    <div class="column medium-6">
    </div>
    <div class="column medium-6">
      <h3>Satoshi fire alarm</h3>
      <p>Learn  how to use bitcore to watch an address and do certain things whenever those initial conditions are met. In this case we hook up a rasberry Pi  to automatically shoot a text message if Satoshi’s coins are moved.</p>
      <div class="button-secondary">Get Started</div>
    </div>
  </div>

  <div class="row">
    <div class="column medium-6">
      <h3>Build a Payment Processor</h3>
      <p>Learn how to generate a QR code as well as bring your own payments to your specific address. We will explore the address, p2p, as well as txs.</p>
      <div class="button-secondary">Get Started</div>
    </div>
    <div class="column medium-6">
    </div>
  </div>

  <div class="row">
    <h4 class="section-title">Want to learn more?</h4>
    <p>Have something that you want to learn or share? View all the tutorials here.</p>
  </div>

</div>


<div class="secton">

  <div class="row">
    <h4 class="section-title">Main Features</h4>
    <p>Have something that you want to learn or share? View all the tutorials here.</p>
  </div>

  <div class="row">
    <div class="column medium-4">
      <h4>Cross Platform</h4>
      <p>Have something that you want to learn or share? View all the tutorials here.</p>
    </div>
    <div class="column medium-4">
      <h4>Core Bitcoin</h4>
      <p>Addresses, transactions, Scripts, and P2P Networking</p>
    </div>
    <div class="column medium-4">
      <h4>Open Source</h4>
      <p>Over 97% test coverage, Publically audited and availble on Github</p>
    </div>
  </div>
  <div class="row">
    <div class="column medium-4">
      <h4>Payment Protocol</h4>
      <p>Secure messages between merchants and customers.</p>
    </div>
    <div class="column medium-4">
      <h4>Key Management</h4>
      <p>Have something that you want to learn or share? View all the tutorials here.</p>
    </div>
    <div class="column medium-4">
      <h4>Cross Platform</h4>
      <p>Have something that you want to learn or share? View all the tutorials here.</p>
    </div>
  </div>

</div>

<div class="section-gray">
  <div class="row">
    <div class="column medium-6">
      <h4>Getting Started</h4>
      <p>Learn how to get going with bitcore as we take you through the basics of working with the project.</p>
    </div>
    <div class="column medium-6">
      <h4>Documentation</h4>
      <p>Full documentation that tell syou everything that you need to know.</p>
    </div>
  </div>


</div>






<%- page.content %>
