

<div id="banner">

  <div class="background-element">

  </div>


  <div class="row banner-padding">
    <div class="column">

      <h2 class="center white text-shadow">Build your application on bitcore</h2>
      <h4 class="sub-header center white text-shadow">An open-source platform to build bitcoin and blockchain-based applications</h4>
      <div class="center">
        <div class="button primary margin-10 round">Get Started</div>
        <div class="button secondary margin-10 round">Documentation</div>
      </div>
    </div>
  </div>
</div>

<div id="projects">
  <div class="outer">
     <a href="http://counterparty.io/" target="_blank"><li id="counterparty-link-complete" class="link"></li></a>
     <a href="https://bitpay.com/" target="_blank"><li id="bitpay-link" class="link"></li></a>
     <a href="https://copay.io" target="_blank"><li id="copay-link" class="link"></li></a>
     <a href="https://www.blocktrail.com/" target="_blank"><li id="blocktrail-link" class="link"></li></a>
     <a href="http://pheeva.com/" target="_blank"><li id="pheeva-link" class="link"></li></a>
     <a href="https://github.com/streamium/paystream" target="_blank"><li id="streamium-link" class="link"></li></a>
  </div>
</div>

<div class="section section-gray">

  <div class="row">
    <h4 class="section-title">Getting Started</h4>
  </div>

  <div class="row subsection">
    <div class="column medium-6">
      <h3 class="subsection-title">Spin up a full node</h3>
      <p class="subsection-description">If you have an free afternoon and internet connection you can set up a full bitcoin node. In this tutorial we teach you how to launch a node with insight to have your own clue into the bitcoin network.</p>
      <div class="button secondary round">Get Started</div>
    </div>
    <div class="column medium-6">
    </div>
  </div>

  <div class="row subsection">
    <div class="column medium-6">
    </div>
    <div class="column medium-6">
      <h3 class="subsection-title">Satoshi fire alarm</h3>
      <p class="subsection-description">Learn  how to use bitcore to watch an address and do certain things whenever those initial conditions are met. In this case we hook up a rasberry Pi  to automatically shoot a text message if Satoshi’s coins are moved.</p>
      <div class="button secondary round">Get Started</div>
    </div>
  </div>

  <div class="row subsection">
    <div class="column medium-6">
      <h3 class="subsection-title">Build a Payment Processor</h3>
      <p class="subsection-description">Learn how to generate a QR code as well as bring your own payments to your specific address. We will explore the address, p2p, as well as txs.</p>
      <div class="button secondary round">Get Started</div>
    </div>
    <div class="column medium-6">
    </div>
  </div>

</div>




<div class="section">

  <div class="row">
    <h4 class="section-title header__bottom-border">Main Features</h4>
  </div>

  <div class="row">
    <div class="column medium-4">
      <h5>Cross Platform</h5>
      <p>Have something that you want to learn or share? View all the tutorials here.</p>
    </div>
    <div class="column medium-4">
      <h5>Core Bitcoin</h5>
      <p>Addresses, transactions, Scripts, and P2P Networking</p>
    </div>
    <div class="column medium-4">
      <h5>Open Source</h5>
      <p>Over 97% test coverage, Publically audited and availble on Github</p>
    </div>
  </div>

</div>



<div class="section-gray border-top-gray">
  <div class="row">
    <div class="column medium-6 margin-top border-right-gray footer-padding-right">
      <h4 id="page-footer-next" style="float:none">Getting Started</h4>
      <p>Learn how to get going with bitcore as we take you through the basics of working with the project.</p>
    </div>
    <div class="column medium-6 margin-top footer-padding-left">
      <h4 id="page-footer-next" style="float:none">Documentation</h4>
      <p>Full documentation that tell syou everything that you need to know.</p>
    </div>
  </div>


</div>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css" rel="stylesheet" type="text/css">




<%- page.content %>
